@font-face {
    font-family: 'MontserratBold';
    src: url('../../public/fonts/MontserratBold.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../../public/fonts/MontserratRegular.ttf');
}

* {
    font-family: MontserratRegular;
    color: white;
}

body {
    background: #1a1a1a;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

form input {
    width: 220px;
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    transition: .15s ease-in;
}

form input:hover {
    background-color: rgb(49, 49, 49);
}

form input[type = submit] {
    background-color: rgb(235, 235, 235);
    color: black;
    border-radius: 20px;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

form input[type = submit]:hover {
    background-color: rgb(218, 218, 218);
    filter: drop-shadow(0 0 0.15rem white);
}

.genreList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.genreSpan {
    border: 1px solid rgb(199, 199, 199);
    margin: 0;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.genreSpan:hover {
    background-color: rgb(224, 224, 224);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h5 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.removeAllGenres {
    border: 0;
    background-color: #c9222d;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

.removeAllGenres:hover {
    background-color: #970f18;
}

.removeAllGenres img {
    width: 24px;
    height: 24px;
}

.genreListTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.genreControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}