@font-face {
    font-family: 'MontserratBold';
    src: url('../../public/fonts/MontserratBold.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../../public/fonts/MontserratRegular.ttf');
}

* {
    font-family: MontserratRegular;
    color: white;
}

body {
    background: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

form input {
    width: 220px;
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    transition: .15s ease-in;
}

form input:hover {
    background-color: rgb(49, 49, 49);
}

form input[type = submit] {
    background-color: rgb(235, 235, 235);
    color: black;
    border-radius: 20px;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

form input[type = submit]:hover {
    background-color: rgb(218, 218, 218);
    filter: drop-shadow(0 0 0.15rem white);
}